.footerlinks {
    color: #ffffff !important;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800 !important;
    }

#footer1 {
    background: #762b00 !important;
    flex:1;

}

#footer2 {
    background: #531f00 !important;
    flex:2;
}
#full-page-image {
    width: 100vw; /* Tam sayfa genişliği */
    height: 50vh; /* Tam sayfa yüksekliği */
    overflow: hidden; /* Taşan kısımları gizler */
}

    #full-page-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Görseli sayfaya tam sığacak şekilde kırpar */
        object-position: center; /* Görseli merkezde konumlandırır */
    }
